{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}